<nav>
    <div class="portf">

        <div class="portImg logo">
        <img src="/assets/LOGO.png" />
        </div>

        <ul class="portNav">

            <li class="portNavItem"><a href="/" class="portNavLink">Home</a></li>
            <li class="portNavItem"><a href="/blog" class="portNavLink">Blog</a></li>
            <li class="portNavItem"><a href="#" class="portNavLink">Projects</a></li>


        </ul>
    </div>
</nav>