---
layout: 'base'
title: "Blog"
pagination:
    data: collections.post
    size: 2
    alias: posts
---

<div class="blogSection">
    <h1 class="blogSectionTitle">Recent Articles</h1>
    <ul role="list" class="articlesList">
        {% for post in collections.posts %}
        {% include "post-list-item.njk" %}
        {% endfor %}
        </ul>


        <h2>pagination</h2>
        <ol>
            {% for post in collections.post %}
            <li><a href="{{ post.url }}">{{post.data.title}} </a></li>
            {% endfor %}

        </ol>

        </div>